@mixin myul {
    list-style-type: none;
    display: flex;
    
    }

@mixin mytitle{
    font-size: 3em;
    font-weight: 700;
    text-align: center;
}

@mixin myflex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}